# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/

# Model artifacts
models/
*.h5
*.hdf5

# Dataset and splits
data/
data_split/

# Checkpoints / history
*.ckpt
*.tfrecord

# Jupyter and Streamlit
.ipynb_checkpoints/
*.ipynb
.streamlit/

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
secrets.json

.idea/